p {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
li.languageChoice {
    position: relative;
    display: block;
}
span.otherLanguages {
    display: none;
}
li.languageChoice:hover span.otherLanguages {
    position: absolute;
    display: block;
}
/**
 * page layout
 * use display table to keep footer low, even on empty pages
 */
html {
    height: 100%;
}
body {
    display: table;
    height: 100%;
    width: 100%;
    /* page background goes here */
}
body > div.toprow, body > div.bottomrow {
    display: table-row;
    margin: 0;
    padding: 0;
    border: 0;
}
body > div.toprow > div.topcell, body > div.bottomrow > div.bottomcell {
    display: table-cell;
	width: 100%;
    margin: 0;
    padding: 0;
}
body > div.toprow > div.topcell > *, body > div.bottomrow > div.bottomcell > * {
    margin: 0em;
    /** 1px is needed to avoid collapse of background */
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
}
body > div.toprow > div.topcell {
    vertical-align: top;
}
body > div.bottomrow > div.bottomcell {
    vertical-align: bottom;
}
