<table .table>
    <thead>
        <tr>
            <th>name
            <th>active
            <th style="width:100%">url
    <tbody>
        $forall (feed, pos) <- feeds
            ^{row idAttr nameAttr otherAttrs pos feed}
        ^{row idAttr nameAttr otherAttrs numFeeds empty'}
