<div .container-fluid>
    <div .table-responsive>
        <table .table>
            <thead>
                <th>
                <th>
                    input file
                $forall s <- software
                    <th>
                        #{outputName s}
            <tbody>
                <tr>
                    <th>
                        validation errors
                    ^{validationWidget $ inputErrors input}
                    $forall s <- software
                        ^{validationWidget $ outputErrors s}
                $forall xpathGroup <- xpathGroups
                    <tr>
                        <th>
                            #{xpathPath xpathGroup}
                    $forall xpath <- groupXPaths xpathGroup
                        <tr>
                            <th>
                                #{autoTestXPathXpath xpath}
                            $if (xpathCell xpaths (inputFile input) xpath)
                                <td .bg-success>
                                    true
                            $else
                                <td .bg-danger>
                                    false
                            $forall s <- software
                                $maybe blobid <- outputFile s
                                    $if (xpathCell xpaths blobid xpath)
                                        <td .bg-success>
                                            true
                                    $else
                                        <td .bg-danger>
                                            false
                                $nothing
                                    <td>-
                <tr>
                    <th>ODF
                    <td>
                        <a href=@{BlobR $ inputFile input}>
                            #{showNice $ inputType input}
                    $forall s <- software
                        <td>
                            $maybe odf <- outputFile s
                                <a href=@{BlobR odf}>
                                    #{showNice $ outputType s}
                            $nothing
                                #{showNice $ outputType s}
                <tr>
                    <th>content.xml
                    <td>
                        <a href=@{UnzipR (inputFile input) ["content.xml"]}>
                            content.xml
                    $forall s <- software
                        <td>
                            $maybe odf <- outputFile s
                                <a href=@{UnzipR odf ["content.xml"]}>
                                    content.xml
                            $nothing
                                -
                <tr>
                    <th>styles.xml
                    <td>
                        <a href=@{UnzipR (inputFile input) ["styles.xml"]}>
                            styles.xml
                    $forall s <- software
                        <td>
                            $maybe odf <- outputFile s
                                <a href=@{UnzipR odf ["styles.xml"]}>
                                    styles.xml
                            $nothing
                <tr>
                    <th>pdf
                    <td>
                    $forall s <- software
                        <td>
                            $maybe pdf <- outputPdf s
                                <a href=@{BlobR pdf}>pdf
                            $nothing
                                -
